.aboutMe{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 20px;
    flex-wrap: wrap;
}

.aboutMe h1{
    width: 100%;
    font-size: 26px;
  }
  
  .aboutMe p{
    width: 100%;
    text-align: left;
    font-size: 16px;
  }
  
  .aboutMe .CV{
    height: 40px;
    width: 130px;
}


/* Dark */


.Dark .aboutMe h1{
    color: #CED1DF;
}

.Dark .aboutMe p{
    color: #B5BACF;
}

.Dark .aboutMe .CV{
    background-color: #DADCE7;
    color: #15273B;
}


/* Light */

.Light .aboutMe h1{
    color: #15273B;
}

.Light .aboutMe p{
    color: #203b5b;
}

.Light .aboutMe .CV{
    background-color: #15273B;
    color: #DADCE7;
}