.Presentacion {
    width: 100%;
    padding: 170px 20px;
}

.Presentacion .Name {
    font-size: 34px;
    margin: 8px 0px;
}

.Presentacion h1 {
    width: 100%;
    font-size: 28px;
    margin: 8px 0px;
    text-align: left;
}

.Presentacion h3 {
    text-align: left;
    font-size: 17px;
    margin: 8px 0px;
}

.Presentacion p {
    font-size: 16px;
    text-align: left;
}

.Presentacion .contacts {
    height: 50px;
    width: 100%;
    margin: 50px 0px;
}

.Presentacion .contact {
    height: 25px;
    width: 25px;
    margin: 0px 30px;
}



/* Dark */

.Dark h1{
    color: #00E0D9;
}

.Dark h3{
    color: #CED1DF;
}

.Dark p{
    color: #B5BACF;
}

.Dark .contact{
    filter: invert(92%) sepia(12%) saturate(325%) hue-rotate(196deg) brightness(91%) contrast(91%);
}


/* Light */

.Light h1{
    color: #15273B;
}

.Light .Presentacion{
    color: #203b5b;
}



.Light .contact{
    filter: invert(17%) sepia(15%) saturate(3224%) hue-rotate(176deg) brightness(92%) contrast(84%);
}
